body {
  display: flex;
  flex-direction: column;
  background-color: rgb(166, 191, 127);
  font-family: 'Times New Roman', Times, serif;

}

p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
}

span {
  margin:2px;
}

#top-bar {
  font-size: 20px;
  color: #ffffff;
  margin: 10px;
}


.top-bar {
  color: #008000;
  font-size: 15px;
  background-size: 30px;
  margin-left:5px;

}

.top {
  color: #ffffff;
  font-size: 20px;
}

.imagine,
a {
  width: 350px;
  height: 250px;
  color: #008000;
}

.tea-columncard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 350px;
  width: 210px;
  background-color: rgb(98, 151, 33);
  column-gap: 10px;
  justify-content: space-around;
  margin: 10px;
}

.tea-rowcard,
.recipe-rowcard {
  display: flex;
  flex-direction: row;

}

.bottom-container {
  display: flex;
  margin-top: 30px;
  height: 350px;
  background-color: rgb(166, 191, 127);
  color: #ffffff;
}

.recipe-columncard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 300px;
  width: 355px;
  align-items: stretch;
  object-fit: fill;

}

.discount {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  background-color: #ff0000;
  width: 70px;
  height: 25px;
}

.discount-ending {
  color: #ff0000;
  font-weight: bold;
}