body {
    background-color: rgb(211, 207, 207);
    margin: 10px;
    font-family: sans-serif;
}

#top-container {
    background-color: #ffffff;
    margin: 5px;
}

#title h2, #title a {
    display: inline-block;
    margin: 5px;
}

a {
text-decoration: none;
}

.carousel {
    background-color: rgb(255, 255, 255);
    height: 330px;
    width: 100%;
    position: relative;
    display: flex;
}

.carousel p {
    margin: 1px 10px;
}

.carousel img {
    background-color: rgb(236, 236, 236);
    height: 70%;
    width: 98%;
    margin: 0px 10px;
}

.galery {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    width: 340px;
    overflow: hidden;
}

.galery img {
    margin: 0px 15px;
    width: 90%;
    height: 80%;
    justify-content: space-between;
}

.galery h3 {
    margin: 5px 15px;
}

.galery a {
    margin: 10px 15px 10px;
}

.deal-discount p:first-child {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    display: inline-block;
}

.deal-discount p:last-child {
    color: red;
    display: inline-block;
}

.euro-sign {
    font-size: 0.5em;
    position: relative;
    top: -0.25em;
    right: -0.25em;
    top: -5px;
}

.cents {
    font-size: 0.5em;
    position: relative;
    top: -5px;
    right: -1px;
}

.was {
    font-size: 0.8em;
    opacity: 0.5;
}

.old-price {
    font-size: 0.8em;
    opacity: 0.5;
    text-decoration: line-through;
}

#bottom-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
