a {
    text-decoration: none;
}

.background-highlight {
        background-color: #ff0000;
        color: #ffffff;
        display: inline-block;
        margin-left: 4px;
}

body {
    background-color: #d3cfcf;
    margin: 8px 4px;
    font-family: sans-serif;
}

.bottom-container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.carousel p {
    margin: 4px 0px;
}

.carousel img {
    background-color: #ececec;
    display: flex;
    height: 70%;
    width: 98%;
    margin: 0px 4px 0px 4px;
}

.cents {
    font-size: 8px;
    position: relative;
    top: -5px;
}

.euro-sign {
    font-size: 8px;
    position: relative;
    top: -5px;
}

.galery {
    background-color: #ffffff;
    margin: 4px;
    width: 330px;
    overflow: hidden;
}

.galery a {
    margin: 8px 16px 8px;
}

.galery h3 {
    margin: 4px 16px;
}

.galery img {
    margin: 0px 16px;
    width: 90%;
    height: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.old-price {
    font-size: 16px;
    opacity: 0.5;
    text-decoration: line-through;
}

.top-container {
    background-color: #ffffff;
    margin: 4px;
}

.title h2, .title a {
    display: inline-block;
    margin: 4px 8px;
}

.text-highlight {
    color: #ff0000;
    display: inline-block;
}

.was {
    font-size: 16px;
    opacity: 0.5;
}
